*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;

    align-items: center;
    justify-content: center;
}

#container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container h1{
    color: rgb(242, 237, 237);
    padding: 1vmax 2vmax;
    background-color: rgb(31, 28, 28);
}


#btn{
    border: 2px solid black;
    background: transparent;
    padding: 0.8vmax 4vmax;
    font-size: 1.5vmax;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 2vmax;
    cursor: pointer;
}
